<section id="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div id="owl-testimonials" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="testimonials-item">
                            <p>“ You are nice and pleasant, Let's get to know each other! Here put your messenger into my phone!”</p>
                            <h4>Patrick Truong</h4>
                            <span>Web Designer</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <p>“ Hell yes! I'm up for this meeting. ”</p>
                            <h4>SB</h4>
                            <span>Portfolio manager</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <p>“ Mmm... these apples taste wonderful.”</p>
                            <h4>PafE</h4>
                            <span>Satisfied customer</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonials-item">
                            <p>“I Cannot. ”</p>
                            <h4>GK</h4>
                            <span>Rights manager</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>